body{
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;

    border: 2px black solid;
    margin: 0px 20px;

    transition: all .07s ease;
}

.selected{
    border: 2px yellow solid;
    transform: scale(1.1);
}

#result-section{
    margin-top: 20px;
    padding: 0px 20px;
}

#result-section .cards{
    align-items: center;
}

#result-section #computer-choice{
    transform: rotateY(180deg);
}

#rock, #paper, #scissors{
    max-width: 33vw;
    max-height: 40vh;
}

#choose-section .card:hover{
    transform: scale(1.1);   
}